* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px/1.4 Arial, sans-serif;
}
.main-content {
	width: 480px;
	margin: auto;
}
.flex-container {
  display: flex;
  width: 100%;
}
.flex-container__item_content {
  width: 100%;
}
.btn {
  padding: 4px 8px;
}